<div class='nested-fields'>
  <div class="row">
    <div class="col-6" id="english-<%= f.object.id %>">
      <li class="list-group-item mt-3"><%= f.object.card_word %></li>
    </div>
    <div class="col-6" id="chinese-<%= f.object.id %>">
      <li class="list-group-item mt-3"><%= f.object.card_def %></li>
    </div>
  </div>
</div>
