<div class="container">
  <div class="d-flex justify-content-between py-4">
    <h1>學習集列表</h1>
    <%= link_to "新增學習集", new_setbox_path, class: 'btn btn-primary btn-sm py-3 px-4' %>
  </div>

  <%# 將此頁面用id=home綁住，是為了在show頁面時可以正常呈現 %>
  <div id='home'>
    <div class="row">
      <% @setbox.each do |setbox| %>
        <div class="col-sm-6 my-2">
          <div class="card cardshadow">
            <div class="card-body border border-dark">
              <h5 class="card-title">
                <%# 這裡加 class:'setbox' 是為了要連結到 bindSetboxButton() %>
                <%= link_to setbox.title, setbox_path(setbox), class:'setbox ' %>
              </h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional content. 增加 migration 給學習集 description
              </p>
              <p class="card-text text-right">
                <small class="text-muted">
                  Last updated 3 mins ago 抓資料庫時間
                </small>
              </p>
            </div>
          </div>
        </div>
      <% end %> 
    </div>
  </div>
</div>

