
<%# 將此頁面用id=home綁住，是為了在show頁面時可以正常呈現 %>
<div id='home'>  
  <h1>學習集列表
  <%= link_to "新增學習集", new_setbox_path, class:'btn btn-xs btn-primary'%>
  </h1>
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>學習集名稱</th>
        <th>處理</th>
      </tr>
    </thead>
    <tbody>
      <% @setbox.each do |setbox| %>
      <tr>
        <td>
          <%# 這裡加 class:'setbox' 是為了要連結到 bindSetboxButton()  %>
          <%= link_to setbox.title, setbox_path(setbox), class:'setbox' %>
        </td>
        <td>
          <%= link_to "編輯", edit_setbox_path(setbox), class:'btn btn-xs  btn-success' %>
          <%= link_to "刪除", setbox_path(setbox), class:'btn btn-xs  btn-danger', method:'delete',data: {confirm:'確定嗎'} %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>