<h1>我是首頁
<%= link_to "新增學習集", new_setbox_path, class:'btn btn-xs btn-primary'%>
</h1>

<ul>
  <% @setbox.each do |setbox| %>
    <li>
      <%= link_to setbox.title, setbox_path(setbox) %>
      <%= link_to "編輯", edit_setbox_path(setbox), class:'btn btn-xs  btn-success' %>
      <%= link_to "刪除", setbox_path(setbox), class:'btn btn-xs  btn-danger', method:'delete',data: {confirm:'確定嗎'}  %>
    </li>
  <% end %>
</ul>

