<% if @setbox %>
  <%= simple_form_for(@setbox) do |f| %>
  <h1><%= @setbox.title %></h1>
  <div id='cards'>
    <h2>本學習集中的詞語（ 數量count ）</h2>
    <%= f.simple_fields_for :cards do |card| %>
      <%= render 'show_fields', :f => card %>
    <% end %>
  </div>
<% end %>
<% else %>
  <h1>404</h1>
<% end %>