<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <form>
              <% @setboxes.each do |setbox| %>
              <div class="form-group row">
                <% setbox.cards.each do |card| %>
                <label for="inputAnswer" class="col-sm-4 col-form-label text-center mb-3"><%= card.card_word %></label>
                <div class="col-sm-8">

                <div class="container text-center">
                  <%= form_tag(write_setboxes_path, :method => "get") do %>
                  <%= text_field_tag :write, 
                      nil, 
                      class: "form-control", 
                      placeholder: "請輸入答案", 
                      style: "display:inline-block;width:75%;" 
                  %> 
                 
                  <% end %> 
                </div>
                   
                   
                </div>
                <% end %>
              </div>
                <div class="text-center">
                  <%= submit_tag "送出",:name => nil,class: "btn btn-outline-secondary" %>
                </div>
              <% end %>
            </form>
        </div>
    </div>
</div>