/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Roboto:400,700i&display=swap');

 body,html {
  font-family: 'Roboto', sans-serif;
 } 

.signinoutbg,.editbg {
  background: #F8F9FA;
  // background: linear-gradient(to right, #ddd, #fff);
  height: 100vh;
}

.card-signin,.cardshadow {
  border: 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.card-body .btnfbgl {
  font-size: 80%;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.google_oauth2 {
  color: white;
  background-color: #ea4335;
}

.facebook {
  color: white;
  background-color: #3b5998;
}

// carousel 顏色
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

// bg-gray
.bg-gray{
  background-color: #F0F0F0;
}

@media (max-width: 576px) {
  .list-group{
    flex-direction: row;
    margin-bottom: 30px;
  }
  .list-group-item{
    margin-bottom: 0px;
  }
  .list-group-item-action{
    width: 20%;
  }
  .list-group-item:first-child{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .list-group-item:last-child{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@font-face {
  font-family: 'NotoSansCJKtc-Regular';
  src: font-url('NotoSansCJKtc-Regular.otf') ;
}